@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
}


/* Hero Section */
.hero-section {
  background-image: url('assets/hero-leaf1.png'), url('assets/hero-leaf2.png'); 
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 500px, 500px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero-section {
    background-size: 80px, 80px;
    background-position: left bottom, right bottom;
  }
}
